<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
	<div class="container">
		<h1><%= title %></h1>
		
		<section id="contents">
			<h2>Contents</h2>
			
			<table id="contents" class="table table-striped">
				<tr>
					<th style="width:25%;"> URI </th>
					<th> 설 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 명 </th>
				</tr>
				
				<% contentList.forEach(function(content) { %>
					<tr>
						<td><strong><%= content.uri %></strong></td>
						<td><%= content.cmt %></td>
					</tr>
				<% }); %>
			</table>
		</section>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script>
		$(document).ready(function(){
			alert('init');
		});
	</script>
</body>
</html>
